@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #ffffff;
}
.container {
  position: relative;
  width: 470px;
  background: #d0d0d0;
  padding: 20px 30px;
  /*border: 1px solid #444;
  */
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post {
  display: none;
}
.container .text {
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .edit {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover {
  text-decoration: underline;
}
.container .star-widget {
  text-align: center; /* Center the content horizontally */
  position: relative;
}
.container .star-widget input {
  display: none;
}
.star-widget label {
  font-size: 40px;
  color: #666;
  padding: 10px;
  /* display: inline-block; */
  margin: 0 8px;
  float: right;
  transition: all 0.2s ease;
  transform: scaleX(-1);
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #e2b82e;
}
input:checked ~ label {
  color: #e2b82e;
}

input#rate1-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate1-1:checked ~ form header:before {
  content: "I just hate it ";
}
#rate1-2:checked ~ form header:before {
  content: "I don't like it ";
}
#rate1-3:checked ~ form header:before {
  content: "It is awesome ";
}
#rate1-4:checked ~ form header:before {
  content: "I just like it ";
}
#rate1-5:checked ~ form header:before {
  content: "I just love it ";
}

input#rate2-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate2-1:checked ~ form header:before {
  content: "I just hate it ";
}
#rate2-2:checked ~ form header:before {
  content: "I don't like it ";
}
#rate2-3:checked ~ form header:before {
  content: "It is awesome ";
}
#rate2-4:checked ~ form header:before {
  content: "I just like it ";
}
#rate2-5:checked ~ form header:before {
  content: "I just love it ";
}

input#rate3-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate3-1:checked ~ form header:before {
  content: "I just hate it ";
}
#rate3-2:checked ~ form header:before {
  content: "I don't like it ";
}
#rate3-3:checked ~ form header:before {
  content: "It is awesome ";
}
#rate3-4:checked ~ form header:before {
  content: "I just like it ";
}
#rate3-5:checked ~ form header:before {
  content: "I just love it ";
}

input#rate4-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate4-1:checked ~ form header:before {
  content: "I just hate it ";
}
#rate4-2:checked ~ form header:before {
  content: "I don't like it ";
}
#rate4-3:checked ~ form header:before {
  content: "It is awesome ";
}
#rate4-4:checked ~ form header:before {
  content: "I just like it ";
}
#rate4-5:checked ~ form header:before {
  content: "I just love it ";
}

.container form {
  display: none;
}
input:checked ~ form {
  display: block;
}
form header {
  width: 100%;
  font-size: 25px;
  color: #222;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus {
  border-color: #444;
}
form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button {
  height: 100%;
  width: 100%;
  /* border: 1px solid #444; */
  outline: none;
  background: #bdb9b9;
  color: #222;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}
form .btn button:hover {
  background: #d71818;
  color: #e2e2e2;
}
